.message {
    background-image: url('../../assets/404.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // filter: blur(0.2rem);
    position: relative;
}