.wraper_booklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    height: 100vh;
    background-color: crimson; // fallback
    background: linear-gradient(to bottom, #1F1C18, #8E0E00); /* netflix */
}

.gridList_booklist {
    width: 50%;
    height: 100vh;
}