.background_image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    filter: blur(0.2rem);
    position: relative;
}

button.fab_search_container {
    position: absolute;
    top: 0px;
    margin: 24px;
}

.background_fader {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(40, 40, 40, 0.2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tabs_wrapper {
    margin-top: 8%;    
}
